{% load static %}
<!doctype html>
<html>

<head>
    <title>League of Legend</title>
    <meta charset="utf-8">
    <meta name="juyoung">
    <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142870976-1">
        < script >
            window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-142870976-1');

    </script>

    <meta name="viewport" content="width=divice-width,initial-scale=2.0">


    <style media="screen">
    </style>
</head>

<body bgcolor="#E6E6E6">
  {% block content %}
  {% endblock %}
</body>


</html>
